.disscussion-help-show {
	width: 98%;
	float: left;
	margin-left: 1%;
	margin-top: 8px;
}
.disscussion-help-show .show-post{
	
	margin-top: 0px;
	width: 100%;
	margin-left: 0;
	float: left;
}

.disscussion-help-show .show-post .block-post {
	border-radius: 6px;
	margin-bottom: 8px;
}
.disscussion-help-show .show-post .block-post:first-child{
	border-radius: 6px 0 6px 6px !important;
}
.disscussion-help-show .show-post .block-post .cont .top time {
	float: right;
}